version: '3.8'

services:
  backend:
    image: nlesmann/farmersmarket-backend:latest  # Pulls from Docker Hub
    env_file: 
      - .env
    ports:
      - "8000:8000"
    networks:
      - app-network
    restart: always  # Ensures it restarts if it crashes

  nginx:
    image: nlesmann/farmersmarket-nginx:latest  # Pulls from Docker Hub
    ports:
      - "80:80"
      - 443:443
    depends_on:
      - backend
    networks:
      - app-network
    restart: always
    volumes:
      - ./nginx/conf/:/etc/nginx/conf.d/:ro
      # - ./certbot/www:/var/www/certbot/:ro  # <---- currently testing this line
      - ./etc/letsencrypt:/etc/letsencrypt:ro
  certbot:
    image: certbot/certbot:latest
    volumes:
      # - ./certbot/www/:/var/www/certbot/:rw
      - ./etc/letsencrypt:/etc/letsencrypt:rw

networks:
  app-network:
    driver: bridge
